<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="/javascripts/index.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.1.0/cytoscape.min.js"></script>
</head>

<body>
    <% include partials/navbar.ejs %>
    <div class="panel-group" id="indexAccordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="toggle" data-toggle="collapse" href="#welcomePanel">
                    <h4 class="panel-title">Everything is either a node or an edge...</h4>
                </a>
            </div>
            <div id="welcomePanel" class="panel-collapse collapse in">
                <div class="panel-body">

                        <p>This application is still in a very alpha-stage, so expect your browser to explode, your mouse to run away, and
                            your madness level to raise to unexpected heights. No, seriously, it will brake, but... </p>
                        <p>Think of it as a proposal, a suggestion of how we could hand our clients a way to explore our data
                            in an exciting way.</p>
                        <p>So what does this marvelous machine do?</p>
                        <p>It is a machine to transform our data  - which is secretly hiding in countless tables and rows - to a graphical <marked>network</marked> which invites to browse and explore.
                            So when judging this machine, think of all the nice usecases for which this way of graphical presentation could be just what
                            you always missed while looking at our data.</p>
                        <p>So think:</p>
                        <ul>
                            <li>Risk and Compliance: wouldn't it be nice to be able to see the complicated structure of sub-subsidiaries rather than read it
                            in some hidden field?</li>
                            <li>VentureSource: browse from company to company and find connections you didn't expect nor see before</li>
                            <li>PEP: discover the network connecting all the relevant entities and key players</li>
                        </ul>
                        <p>Up to this point, with DJ Nodes you can only take a stroll through the data from VentureSource.</p>
                        <p>So search for the newest fancy startup and look how it is connected to everything else.</p>
                        <p>Enjoy and (hopefully) have fun!</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="toggle" data-toggle="collapse" href="#infoPanel">
                    <h4 class="panel-title">How to connect the dots...</h4>
                </a>
            </div>
            <div id="infoPanel" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>Click on graph to start.</p>
                    <p>Use the search panel to look for people or organizations</p>
                    <img src="/images/search.jpg" alt="Search Panel" style="width:500px;">
                    <p>Find what you were looking for by filtering the table. Click on rows to select them.</P>
                    <img src="/images/find.jpg" alt="Find Panel" style="width:500px;">
                    <p>Graph selected rows of the table.</p>
                    <img src="/images/graph.jpg" alt="Graph Panel" style="width:500px;">
                    <img src="/images/graph2.jpg" alt="Graph Panel 2" style="width:500px;">
                    <p>Find and graph multiple entities to see if they are connected.</p>
                    <img src="/images/find-multiple.jpg" alt="Find Multiple" style="width:500px;">
                    <img src="/images/graph-multiple.jpg" alt="Graph Multiple" style="width:500px;">
                    <p>Try out all those buttons and see what they do!</p>
                </div>
            </div>
        </div>
    </div>

    <% include partials/footer.ejs %>
</body>

</html>
